
.child h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.child h3{
    margin: 1rem 0;
}
.child h4{
    margin: 1rem 0;
}
.child h5{
    font-size: auto;
    margin: 1rem 0;
}

.cart {
    position: relative;
    box-shadow: 1px 1px 4px rgb(22, 0, 83);
    background-color: rgb(238, 238, 238);
    border: 1px rgb(0, 0, 0) solid;
    text-align: center;
}

.cart a {
    text-align: center;
    margin: 0;
}

.deletef {
    position: absolute;
    height: 40px;
    top: 0 !important;
    left: 10px !important;
    filter: invert(100%);
    width: 23px;
    align-items: start !important;
}
.child button{
    background-color: rgba(174, 156, 255, 0.315);
    color: rgb(4, 16, 122);
    border: 0px;
    border-radius: 5px;
}
@media(min-width:900px){
    .cart{
        width: 30%;
    }
}

