.first {
    position: relative;
    width: 100% !important;
    height: 92.8vh;
    overflow: hidden;
}
.background{
    background-image: url(./img/New/natalia-y-bMybTSV7RFY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(1.9px);
    opacity: 2;
   
}

.text  {
    width:73% ;
    font-size: 345%;
    box-shadow: -3px -2px  10px  rgb(1, 38, 46) ,1px 0px  2px  rgb(211, 211, 214)   ;
    text-shadow:  0px 1px 2px rgb(212, 212, 212),1px 2px 5px rgb(177, 178, 179);
    padding: 33px 50px;
    filter: blur(.6px);
    font-weight: bolder;
    position: absolute;
    color: rgb(0, 61, 117);
    top: 22%;
    left: 110px;
    z-index: 1;
}
.text h1{
    font-size: 90%;
    font-weight: 550;
}

.exprient{
    padding: 3px;
    font-size: 70%;
    text-shadow: 2px 1px 1px rgb(61, 31, 1);
    color: rgb(189, 128, 53) ;
}
.exprient span{
    color: rgb(207, 156, 89);
    text-shadow: 2px 2px 1px rgb(34, 18, 3);
    font-size: 96%;
    font-weight: 300;
}